/* Base styles (mobile-first approach) */
* {
    box-sizing: border-box;
}

body, html {
    margin: auto;
    padding: 0;
    font-family: Poppins, sans-serif;
    max-width: 800px;
}
/* --------- Header ----------- */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 15px auto;
}

.row li {
    text-transform: uppercase;
}
h1 {
    font-size: 24px;
    color: #333;
    margin: 10px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

li {
    margin-left: auto;
    padding: 10px;
    margin: 5px;
}

ul li a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
}

ul li a:hover {
    color: #f8f8f8;
    background-color: #333;
    padding: 5px;
    border-radius: 5px;
}

.name {
    font-size: 23px;
}

.port-name {
    text-transform: uppercase;
    font-size: 18px;
}
/* --------- Student Section ----------- */
#student {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px 15px auto;
    background-color: #f8f8f8;
}

.stud {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 340px;
    height: auto;
    flex-basis: 240px;
    padding: 5px;
    text-align: left;
    flex-grow: 1;
    margin: 10px auto;
}

.pic {
    margin: 0 auto;
}

.main {
    margin: 0 auto;
    padding: 10px;
}

/* --------- Portfolio Section ----------- */

#portfolio {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    
}

.port {
    padding: 5px;
    text-align: center;
    width: 240px;
    height: auto;
}

h2 {
    font-size: 18px;
    color: #333;
}

img {
    width: 100%;
    height: auto;
}

.port img:hover {
    opacity: 0.5;
}

.port-name {
    width: 800px;
    margin: 30px auto;
    text-align: center;
}
/* --------- Footer ----------- */

#footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f8f8f8;
}

.contact {
    text-transform: uppercase;
}

#footer p {
    font-size: 14px;
    color: #616161;
}

.line {
    width: 50%;
    margin: 0 auto;
}
.contact {
    text-transform: uppercase;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
    max-width: 800px;
}

.bottom-row ul li a {
    font-size: 15px;
}

.bottom-name {
    font-size: 18px;
}

/* Mobile devices (up to 410px) */
/* Can I add a max width?  it looks awkward if the navigation goes column too soon.*/
@media (min-width: 320px) and (max-width: 410px) {
    .header {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .stud {
        width: 100%;
        margin: 5px 0;
    }
    .port {
        width: 100%;
        margin: 5px 0;
    }
    #footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .line {
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }

    .bottom {
        flex-direction: row;
        align-items: center;
    }

    .bottom-name {
        margin-right: auto;
    }

    .bottom-row ul li{
        display: none;
    }

    #back-to-top {
        display: contents;
    }
}

/* Tablets (401px to 900px) */
@media (min-width: 768px) {

    #back-to-top {
        display: none;
    }
    
}

/* Small laptops (901px to 1024px) */
@media (min-width: 768px){
    .stud {
        width: 30%;
        margin: 10px;
    }
    .port {
        width: 30%;
        margin: 10px;
    }

    #back-to-top {
        display: none;
    }
}

